.card {
  min-width: 250px;
  height: 150px;

  display: grid;
  grid-template-rows: 10% 10% 10% 10% 20% 10% 15% auto;
  grid-template-columns: 13px 30px 38px auto 125px 13px;

  background-color: white;
  box-shadow: 0 0 10px #d8d8d8;

  margin: 10px;

  flex-grow: 1;
}

.card__image-container {
  grid-row: 2 / span 2;
  grid-column: 2 / span 1;
}

.card__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50px
}

.card__name-container {
  grid-row: 5 / span 1;
  grid-column: 2 / span 4;

  display: flex;
  align-items: center;
}

.card__name {
  font-size: 20px;
}

.card__id-container {
  grid-row: 7 / span 1;
  grid-column: 2 / span 2;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid grey;
  border-radius: 25px;
}

.card__id {
  font-size: 16px;
}

.card__detail-container {
  grid-row: 2 / span 1;
  grid-column: 5 / span 1;

  display: flex;
  align-items: center;
}

.card__detail-link {
  color: #3371c8;
  text-decoration: none;
  font-size: 16px;
}

@media (min-width: 550px) {
  .card {
    min-width: 500px;
    height: 300px;

    grid-template-columns: 25px 60px 25px auto 200px 40px;
  }

  .card__name {
    font-size: 30px;
  }

  .card__id {
    font-size: 20px;
  }

  .card__detail-link {
    font-size: 24px;
  }
}
